@tailwind base;
@tailwind components;
@tailwind utilities;

/* page helpers */
html, body, #root {
  height: 100%;
}

input, textarea {
  background-color: rgba(255,255,255,0.02);
  border-color: rgba(255,255,255,0.06);
  color: #e0e8ff;
}

a {
  color: inherit;
}
